// BeausiteClassic
@font-face {
  font-family: 'BeausiteClassic';
  src: url('/public/assets/fonts/BeausiteClassicWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteClassic';
  src: url('/public/assets/fonts/BeausiteClassicWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteClassic';
  src: url('/public/assets/fonts/BeausiteClassicWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteClassic';
  src: url('/public/assets/fonts/BeausiteClassicWeb-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteClassic';
  src: url('/public/assets/fonts/BeausiteClassicWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteClassic';
  src: url('/public/assets/fonts/BeausiteClassicWeb-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteClassic';
  src: url('/public/assets/fonts/BeausiteClassicWeb-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteClassic';
  src: url('/public/assets/fonts/BeausiteClassicWeb-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// BeausiteFit
@font-face {
  font-family: 'BeausiteFit';
  src: url('/public/assets/fonts/BeausiteFitWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteFit';
  src: url('/public/assets/fonts/BeausiteFitWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteFit';
  src: url('/public/assets/fonts/BeausiteFitWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteFit';
  src: url('/public/assets/fonts/BeausiteFitWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteFit';
  src: url('/public/assets/fonts/BeausiteFitWeb-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteFit';
  src: url('/public/assets/fonts/BeausiteFitWeb-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteFit';
  src: url('/public/assets/fonts/BeausiteFitWeb-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteFit';
  src: url('/public/assets/fonts/BeausiteFitWeb-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// BeausiteFit Light
@font-face {
  font-family: 'BeausiteFitLight';
  src: url('/public/assets/fonts/BeausiteFitWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteFitLight';
  src: url('/public/assets/fonts/BeausiteFitWeb-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

// BeausiteFit Black
@font-face {
  font-family: 'BeausiteFitBlack';
  src: url('/public/assets/fonts/BeausiteFitWeb-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteFitBlack';
  src: url('/public/assets/fonts/BeausiteFitWeb-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// BeausiteFit Regular
@font-face {
  font-family: 'BeausiteFitRegular';
  src: url('/public/assets/fonts/BeausiteFitWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteFitRegular';
  src: url('/public/assets/fonts/BeausiteFitWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// BeausiteFit Bold
@font-face {
  font-family: 'BeausiteFitBold';
  src: url('/public/assets/fonts/BeausiteFitWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteFitBold';
  src: url('/public/assets/fonts/BeausiteFitWeb-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// BeausiteFit Light Italic
@font-face {
  font-family: 'BeausiteFitLightItalic';
  src: url('/public/assets/fonts/BeausiteFitWeb-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

// BeausiteFit Black Italic
@font-face {
  font-family: 'BeausiteFitBlackItalic';
  src: url('/public/assets/fonts/BeausiteFitWeb-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// BeausiteFit Regular Italic