:root {
  --bg: #000;
  --card-bg: #111;
  --card-bg-dark: #e0ff460b;
  --accent: #E0FF46;
  --text-light: #eee;
  --text-muted: #ccd;
  --radius: 1rem;
  --gap: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.page {
  background: var(--bg);
  color: var(--text-light);
  font-family: "Helvetica Neue", Arial, sans-serif;
  min-height: 100vh;
  padding: var(--gap);
}

.header .logo {
height: 3rem;
}


